/* PARTIALS */
@import "animations/_marquee.css";
@import "animations/_loader.css";

/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html,
    body,
    nav {
        @apply bg-backgroundColorTest;
        @apply dark:bg-grayLight;
        @apply font-sans;
    }
}

@layer utilities {
    .max-w-screen-3xl {
        max-width: 1920px;
    }

    .shadow-bottom {
        box-shadow: 0 5px 5px -5px #333;
    }

    .shadow-bottomDark {
        box-shadow: 0 5px 5px -5px #fff;
    }

    .text-10xl {
        font-size: 10rem;
    }

    .heightAdjustScreen {
        min-height: calc(100vh - 72px);
    }
}
