@tailwind components;


#image-1, #image-2, #image-3, #image-4, #image-5 {
    @apply aspect-[3/2] object-contain;
}


#image-1 {
    left: 5%;
    top: 6rem;
    @apply sm:top-[8rem];
}

#image-3 {
    right: 5%;
    top: 8rem;
    @apply sm:top-[10rem];
}

#image-4 {
    right: 5%;
    top: 25rem;
    @apply sm:top-[32rem] md:top-[37rem] lg:top-[45rem] xl:top-[56rem] 2xl:top-[65rem];
}

#image-5 {
    left: 4%;
    top: 23rem;
    @apply sm:top-[30rem] md:top-[35rem] lg:top-[42rem] xl:top-[54rem] 2xl:top-[63rem];
}

